
body {
  margin: 0;
  font-family: Arial;
  background-color: #E2E8F0;
}


.header {
  position: sticky;
  top: 0;
  background-color: #F1F5F9;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 250px;
}

.heading-bar {
  background-color: #1E3A8A;
  color: #F9FAFB;
  padding: 10px;
}


.content-box {
  margin: 30px;
  padding: 20px;
  border: 2px solid #1E3A8A;
  border-radius: 10px;
  background: rgba(255,255,255,0.9);
  text-align: justify;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.content-box h2 {
  color: #1E3A8A;
}


.center {
  text-align: center;
  margin: 20px;
}

.btn {
  background-color: #1E3A8A;
  color: #F9FAFB;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background-color: #162F6A;
}

.gallery {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 30px;
}

.card {
  background: rgba(255,255,255,0.9);
  border: 2px solid #1E3A8A;
  border-radius: 10px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
  width: 200px;
  height:200px;
  border-radius: 10px;
}

.card p {
  font-weight: bold;
  color: #1E3A8A;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(30,58,138,0.5);
}

.btn2 {
  background-color: #0D9488;
  color: #F9FAFB;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn2:hover {
  background-color: #0B6B65;
}


.footer {
  background-color: #1E3A8A;
  color: #F9FAFB;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
